/* add css module styles here (optional) */
.reacttimelinebartimelineContainer {
  position: relative;
  cursor: pointer;
}

.react-timeline-bar_timelineTimes {
  position: absolute;
  font-size: smaller;
  user-select: none;
}

.react-timeline-bar_timelineBar {
  position: absolute;
  bottom: 20%;
  width: inherit;
  height: 6px;
  background: #6f6f6f;
}

.react-timeline-bar_timelineDot {
  position: absolute;
  top: -3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: fadein 0.3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.react-timeline-bar_timelineIndicator {
  position: absolute;
  bottom: 0px;
  height: 6px;
  border-radius: 4px;
}

.react-timeline-bar_timelineTooltip {
  position: absolute;
  top: -16px;
  font-size: small;
  user-select: none;
}
